<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
		<link
			href="/dist/output.css"
			rel="stylesheet"
		/>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>

	<body>
		<div class="bg-gray-800 text-white p-4">
			<h1 class="text-2xl font-bold text-center">Add User</h1>
		</div>

		<div class="flex h-screen justify-center items-center">
			<form
				action="/users"
				method="post"
				class="flex flex-col bg-gray-800"
			>
				<div class="flex bg-gray-800">
					<label for="username">Nom d'utilisateur:</label>
					<input
						type="text"
						id="username"
						name="username"
					/>

					<label for="email">Adresse e-mail:</label>
					<input
						type="email"
						id="email"
						name="email"
					/>

					<label for="password">Mot de passe:</label>
					<input
						type="password"
						id="password"
						name="password"
					/>

					<button type="submit">Créer un utilisateur</button>
				</div>
			</form>
		</div>
	</body>
</html>
