<form
	action="/users"
	method="post"
>
	<label for="username">Nom d'utilisateur:</label>
	<input
		type="text"
		id="username"
		name="username"
	/>

	<label for="email">Adresse e-mail:</label>
	<input
		type="email"
		id="email"
		name="email"
	/>

	<label for="password">Mot de passe:</label>
	<input
		type="password"
		id="password"
		name="password"
	/>

	<button type="submit">Créer un utilisateur</button>
</form>
